/* app global css */

@font-face {
  font-family: PROMPT-R;
  src: url("../../public/fonts/Prompt-Regular.ttf");
}

@font-face {
  font-family: PROMPT-M;
  src: url("../../public/fonts/Prompt-Medium.ttf");
}

@font-face {
  font-family: PROMPT-B;
  src: url("../../public/fonts/Prompt-Bold.ttf");
}

body {
  font-family: PROMPT-R;
}

.brx {
  border: 1px solid#f00;
}

.container-content {
  width: 1200px;
  min-height: calc(100vh - 250px);
  max-height: fit-content;
  margin: auto;
}

.container-footer {
  height: 50px;
}

.font-prompt-r {
  font-family: PROMPT-R;
}

.font-prompt-m {
  font-family: PROMPT-M;
}

.font-prompt-b {
  font-family: PROMPT-B;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.bg1 {
  background-color: #e84c93;
}

.bg2 {
  background-color: #c4c4c4;
}

.bg3 {
  background-color: #e0e0e0;
}

.color1 {
  color: #e84c93;
}

.color2 {
  color: #c4c4c4;
}

.color3 {
  color: #e0e0e0;
}
